
.header {	
  text-align: center;
  padding: 20px;
  color: #d17536;
  font-family: 'Bodoni MT Black';
  font-style: italic;	
  font-size: 90px;	 
}


ul {
  list-style-type: none;
  padding: 15px;
  overflow: hidden;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #F2A488;
  border: dashed;
  border-color: #6B9FBF;	
  border-radius: 90px ;	
}




.background{
  background-image: url(../images/redbackgrnd.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;	
}

.container{
	display: flex;
	flex-direction: row;
	grid-column-gap: 15px;
	align-items: stretch;
	border: dashed;
	border-color: #f2f2f2;
	padding: 80px;
}

.box {
	padding: 10px;
	margin: 15px;
	background:  #f2a488;
	border: double;
	border-color: #F29188;
	border-width: thick;
	
	
}

.events {
	
	padding: 10px;
	margin: 15px;
	background:  #F29188;
	border: double;
	border-color: #f2a488;
	border-width: thick;
}

.workshops{
	margin-left: 200px;
	
}

.txt{
	line-height: 40px;
	padding: 55px;
	margin: 15px;
}

.imgbx{
	float: left;
	margin: 25px;
	padding: 15px;
	border: groove;
	border-color: #6B9FBF;
}


.girl1{
	width: 350px;
	height: 300px;

}

.bodypaint{
	width: 350px;
	height: 300px;
	
}

.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 30px;
  margin-top: 15px;	
}